/* Font faces */
@font-face {
    font-family: 'E1';
    src: url('../fonts/MYRIADPRO-BOLD.OTF') format('opentype');
}
@font-face {
    font-family: 'E2';
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'E3';
    src: url('../fonts/ArialRoundedBold.ttf') format('truetype');
}
@font-face {
    font-family: 'E4';
    src: url('../fonts/Auglie.otf') format('opentype');
}
@font-face {
    font-family: 'E5';
    src: url('../fonts/Marker-Felt-Wide.ttf') format('truetype');
}
@font-face {
    font-family: 'E6';
    src: url('../fonts/CHALKBOARDSB.TTF') format('truetype');
}
@font-face {
    font-family: 'E7';
    src: url('../fonts/WendyOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'E8';
    src: url('../fonts/BerkshireSwash-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'E9';
    src: url('../fonts/SecularOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'E10';
    src: url('../fonts/UniSansBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'E11';
    src: url('../fonts/Brandon_reg.otf') format('opentype');
}
@font-face {
    font-family: 'E12';
    src: url('../fonts/Athelas-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Klop';
    src: url('../fonts/Klop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Chinese fonts */
@font-face {
    font-family: 'C1';
    src: url('../fonts/Apple LiGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'C2';
    src: url('../fonts/Hannotate%20SC%20Bold.otf') format('opentype');
}
@font-face {
    font-family: 'C3';
    src: url('../fonts/Yuanti SC Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'C4';
    src: url('../fonts/wawati-tc-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'C5';
    src: url('../fonts/FZLiBian-S02S.ttf') format('truetype');
}
@font-face {
    font-family: 'C6';
    src: url('../fonts/baoli-sc-regular.ttf') format('truetype');
} 