/* Import base styles */
@import 'fonts.css';
@import 'base.css';
@import 'components.css';

/* Mini-specific styles */
.placeholder {
    height: 38px;
    border-radius: 35px;
    font-size: 14px;
}

#textInput {
    margin-bottom: 25px;
}

/* Mini-specific media queries */
@media screen and (max-width: 320px) {
    .placeholder {
        width: 160px;
        font-size: 13px;
    }
}